/* FULL PAGE BACKGROUND */
.login-page {
  min-height: 100vh;
  width: 100vw;

  background-image: url("/images/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
}

/* DARK / BEIGE OVERLAY (image ko soft banane ke liye) */
.login-overlay {
  min-height: 100vh;
  width: 100vw;

  background: rgba(245, 235, 220, 0.85);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN CARD */
.login-card {
  width: 420px;
  background: #fffaf3;
  border-radius: 28px;
  padding: 32px;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);

  animation: slideUp 0.7s ease;
}

/* TEXT */
.welcome-text {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #6b1d1d; /* mehroon */
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;

  border-radius: 12px;
  border: 1px solid #d8bfa7;
  background: #fffdf9;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;

  background: #7b2d2d;
  color: white;
  border: none;
  border-radius: 14px;

  font-size: 16px;
  cursor: pointer;
}

/* ANIMATION */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
