#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(255, 244, 230, 0.75),
    rgba(255, 244, 230, 0.35),
    rgba(255, 244, 230, 0.05)
  );

  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  h1 { font-size: 20px; }
  h2 { font-size: 17px; }

  button {
    width: 100%;
  }

  .grid,
  .shop-grid {
    grid-template-columns: 1fr !important;
  }

  .card {
    margin-bottom: 16px;
  }

  .profile-dropdown {
    right: 0;
    left: auto;
  }
}
