html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
